<header>
  <a href="/clothes">Clothes</a>
  <a href="/categories">Categories</a>
  <a href="/">Home</a>
  <a href="/category/create">New Category</a>
  <a href="/clothing/create">New Clothing</a>
</header>
